
 body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
} 

h1  {
    color: darkblue;
    text-align: center;
} 

h2  {
 color:green;
 text-align: center;
} 

p  {
color:MediumSeaGreen;
line-height: 1.6;
margin: 10px 0;
} 
